<?xml version="1.0" encoding="utf-8" ?>
<showcase>
  <languages>
    <lang id="lv">Latvian</lang>
    <lang id="lt">Lithuanian</lang>
    <lang id="en">English</lang>
  </languages>
  <domains>
    <domain id='TaaS-0100' name='Politics and Administration'>
      <domain id='TaaS-0101' name='Administration'/>
      <domain id='TaaS-0102' name='Politics'/>
      <domain id='TaaS-0106' name='International relations and defence'/>
      <domain id='TaaS-0107' name='European Union'/>
      <domain id='TaaS-0108' name='Transport'/>
    </domain>
    <domain id='TaaS-0200' name='Law'>
      <domain id='TaaS-0201' name='Civil law'/>
      <domain id='TaaS-0202' name='Criminal law'/>
      <domain id='TaaS-0203' name='Commercial law'/>
      <domain id='TaaS-0204' name='Public law'/>
      <domain id='TaaS-0208' name='International law and human rights'/>
    </domain>
    <domain id='TaaS-0300' name='Economics'>
      <domain id='TaaS-0301' name='Business administration'/>
      <domain id='TaaS-0302' name='National economics'/>
      <domain id='TaaS-0303' name='Finance and accounting'/>
      <domain id='TaaS-0304' name='Trade'/>
      <domain id='TaaS-0305' name='Marketing and public relations'/>
      <domain id='TaaS-0306' name='Insurance'/>
    </domain>
    <domain id='TaaS-1000' name='Agriculture and foodstuff'>
      <domain id='TaaS-1001' name='Agriculture'/>
      <domain id='TaaS-1002' name='Forestry'/>
      <domain id='TaaS-1003' name='Fisheries'/>
      <domain id='TaaS-1005' name='Foodstuff, beverages and tobacco, food technology'/>
    </domain>
    <domain id='TaaS-1100' name='Environment'>
      <domain id='TaaS-1101' name='Climate'/>
      <domain id='TaaS-1102' name='Environmental Protection'/>
    </domain>
    <domain id='TaaS-1200' name='Energy'>
      <domain id='TaaS-1201' name='Energy policy'/>
      <domain id='TaaS-1202' name='Coal and mining'/>
      <domain id='TaaS-1203' name='Oil and gas'/>
      <domain id='TaaS-1204' name='Nuclear energy'/>
      <domain id='TaaS-1205' name='Wind, water and solar energy'/>
    </domain>
    <domain id='TaaS-1500' name='Industries and technology'>
      <domain id='TaaS-1501' name='Information and communication technology'/>
      <domain id='TaaS-1502' name='Chemical industry'/>
      <domain id='TaaS-1503' name='Iron, steel and other metal industries'/>
      <domain id='TaaS-1504' name='Mechanical engineering'/>
      <domain id='TaaS-1505' name='Electronics and electrical engineering'/>
      <domain id='TaaS-1506' name='Building and public works'/>
      <domain id='TaaS-1507' name='Wood industry'/>
      <domain id='TaaS-1508' name='Leather and textile industries'/>
      <domain id='TaaS-1509' name='Transportation and aeronautics'/>
      <domain id='TaaS-1510' name='Tourism'/>
    </domain>
    <domain id='TaaS-2000' name='Social sciences'>
      <domain id='TaaS-2001' name='Education'/>
      <domain id='TaaS-2002' name='History'/>
      <domain id='TaaS-2003' name='Communication and media'/>
      <domain id='TaaS-2004' name='Social affaris'/>
      <domain id='TaaS-2005' name='Culture and religion'/>
      <domain id='TaaS-2006' name='Linguistics'/>
      <domain id='TaaS-2007' name='Sports'/>
    </domain>
    <domain id='TaaS-2100' name='Natural sciences'>
      <domain id='TaaS-2101' name='Astronomy'/>
      <domain id='TaaS-2102' name='Biology'/>
      <domain id='TaaS-2103' name='Chemistry'/>
      <domain id='TaaS-2104' name='Geology'/>
      <domain id='TaaS-2105' name='Geographics'/>
      <domain id='TaaS-2106' name='Mathematics'/>
      <domain id='TaaS-2107' name='Physics'/>
    </domain>
    <domain id='TaaS-2200' name='Medicine and pharmacy'>
      <domain id='TaaS-2201' name='Anatomy'/>
      <domain id='TaaS-2202' name='Ophthalmology'/>
      <domain id='TaaS-2203' name='Dentistry'/>
      <domain id='TaaS-2204' name='Otolaryngology'/>
      <domain id='TaaS-2205' name='Paediatrics'/>
      <domain id='TaaS-2206' name='Surgery'/>
      <domain id='TaaS-2207' name='Alternative treatment methods'/>
      <domain id='TaaS-2210' name='Veterinary medicine'/>
      <domain id='TaaS-2220' name='Pharmacy'/>
      <domain id='TaaS-2221' name='Cosmetic'/>
      <domain id='TaaS-2230' name='Medical engineering'/>
    </domain>
    <domain id='TaaS-2300' name='Arts'>
      <domain id='TaaS-2301' name='Plastic arts'/>
      <domain id='TaaS-2302' name='Music'/>
      <domain id='TaaS-2303' name='Literature'/>
      <domain id='TaaS-2304' name='Dance'/>
    </domain>
  </domains>
  <html5template>
    <![CDATA[<!DOCTYPE html>
<html{1}>
<head>
    <meta charset="utf-8">
</head>
<body>{0}</body>
</html>]]>
  </html5template>
</showcase>