<?xml version="1.0" encoding="utf-8" ?>
<showcase>
  <languages>
    <lang id="lv">Latvian</lang>
    <lang id="lt">Lithuanian</lang>
    <lang id="en">English</lang>
  </languages>
  <eurovoc>
    <row subject_id="04" language_id="en" description="politics" />
    <row subject_id="0406" language_id="en" description="political framework" />
    <row subject_id="0411" language_id="en" description="political party" />
    <row subject_id="0416" language_id="en" description="electoral procedure and voting" />
    <row subject_id="0421" language_id="en" description="parliament" />
    <row subject_id="0426" language_id="en" description="parliamentary proceedings" />
    <row subject_id="0431" language_id="en" description="politics and public safety" />
    <row subject_id="0436" language_id="en" description="executive power and public service" />
    <row subject_id="08" language_id="en" description="international relations" />
    <row subject_id="0806" language_id="en" description="international affairs" />
    <row subject_id="0811" language_id="en" description="cooperation policy" />
    <row subject_id="0816" language_id="en" description="international balance" />
    <row subject_id="0821" language_id="en" description="defence" />
    <row subject_id="10" language_id="en" description="European communities" />
    <row subject_id="1006" language_id="en" description="Community institutions and European civil service" />
    <row subject_id="1011" language_id="en" description="community law" />
    <row subject_id="1016" language_id="en" description="european construction" />
    <row subject_id="1021" language_id="en" description="community finance" />
    <row subject_id="12" language_id="en" description="law" />
    <row subject_id="1206" language_id="en" description="sources and branches of the law" />
    <row subject_id="1211" language_id="en" description="civil law" />
    <row subject_id="1216" language_id="en" description="criminal law" />
    <row subject_id="1221" language_id="en" description="justice" />
    <row subject_id="1226" language_id="en" description="organisation of the legal system" />
    <row subject_id="1231" language_id="en" description="international law" />
    <row subject_id="1236" language_id="en" description="rights and freedoms" />
    <row subject_id="16" language_id="en" description="economics" />
    <row subject_id="1606" language_id="en" description="economic policy" />
    <row subject_id="1611" language_id="en" description="economic growth" />
    <row subject_id="1616" language_id="en" description="regions and regional policy" />
    <row subject_id="1621" language_id="en" description="economic structure" />
    <row subject_id="1626" language_id="en" description="national accounts" />
    <row subject_id="1631" language_id="en" description="economic analysis" />
    <row subject_id="20" language_id="en" description="trade" />
    <row subject_id="2006" language_id="en" description="trade policy" />
    <row subject_id="2011" language_id="en" description="tariff policy" />
    <row subject_id="2016" language_id="en" description="trade" />
    <row subject_id="2021" language_id="en" description="international trade" />
    <row subject_id="2026" language_id="en" description="consumption" />
    <row subject_id="2031" language_id="en" description="marketing" />
    <row subject_id="2036" language_id="en" description="distributive trades" />
    <row subject_id="24" language_id="en" description="finance" />
    <row subject_id="2406" language_id="en" description="monetary relations" />
    <row subject_id="2411" language_id="en" description="monetary economics" />
    <row subject_id="2416" language_id="en" description="credit and financial institutions" />
    <row subject_id="2421" language_id="en" description="free movement of capital" />
    <row subject_id="2426" language_id="en" description="financing and investment" />
    <row subject_id="2431" language_id="en" description="insurance" />
    <row subject_id="2436" language_id="en" description="public finance and budget policy" />
    <row subject_id="2441" language_id="en" description="budget" />
    <row subject_id="2446" language_id="en" description="taxation" />
    <row subject_id="2451" language_id="en" description="prices" />
    <row subject_id="28" language_id="en" description="social questions" />
    <row subject_id="2806" language_id="en" description="family" />
    <row subject_id="2811" language_id="en" description="migration" />
    <row subject_id="2816" language_id="en" description="demography and population" />
    <row subject_id="2821" language_id="en" description="social framework" />
    <row subject_id="2826" language_id="en" description="social affairs" />
    <row subject_id="2831" language_id="en" description="culture and religion" />
    <row subject_id="2836" language_id="en" description="social protection" />
    <row subject_id="2841" language_id="en" description="health" />
    <row subject_id="2846" language_id="en" description="construction and town planning" />
    <row subject_id="32" language_id="en" description="education and communications" />
    <row subject_id="3206" language_id="en" description="education" />
    <row subject_id="3211" language_id="en" description="teaching" />
    <row subject_id="3216" language_id="en" description="organisation of teaching" />
    <row subject_id="3221" language_id="en" description="documentation" />
    <row subject_id="3226" language_id="en" description="communications" />
    <row subject_id="3231" language_id="en" description="information and information processing" />
    <row subject_id="3236" language_id="en" description="information technology and data processing" />
    <row subject_id="36" language_id="en" description="science" />
    <row subject_id="3606" language_id="en" description="natural and applied sciences" />
    <row subject_id="3611" language_id="en" description="humanities" />
    <row subject_id="40" language_id="en" description="business and competition" />
    <row subject_id="4006" language_id="en" description="business organisation" />
    <row subject_id="4011" language_id="en" description="business classification" />
    <row subject_id="4016" language_id="en" description="legal form of organisations" />
    <row subject_id="4021" language_id="en" description="management" />
    <row subject_id="4026" language_id="en" description="accounting" />
    <row subject_id="4031" language_id="en" description="competition" />
    <row subject_id="44" language_id="en" description="employment and working conditions" />
    <row subject_id="4406" language_id="en" description="employment" />
    <row subject_id="4411" language_id="en" description="labour market" />
    <row subject_id="4416" language_id="en" description="organisation of work and working conditions" />
    <row subject_id="4421" language_id="en" description="personnel management and staff remuneration" />
    <row subject_id="4426" language_id="en" description="labour law and labour relations" />
    <row subject_id="48" language_id="en" description="transport" />
    <row subject_id="4806" language_id="en" description="transport policy" />
    <row subject_id="4811" language_id="en" description="organisation of transport" />
    <row subject_id="4816" language_id="en" description="land transport" />
    <row subject_id="4821" language_id="en" description="maritime and inland waterway transport" />
    <row subject_id="4826" language_id="en" description="air and space transport" />
    <row subject_id="52" language_id="en" description="environment" />
    <row subject_id="5206" language_id="en" description="environmental policy" />
    <row subject_id="5211" language_id="en" description="natural environment" />
    <row subject_id="5216" language_id="en" description="deterioration of the environment" />
    <row subject_id="56" language_id="en" description="agriculture, forestry and fisheries" />
    <row subject_id="5606" language_id="en" description="agricultural policy" />
    <row subject_id="5611" language_id="en" description="agricultural structures and production" />
    <row subject_id="5616" language_id="en" description="farming systems" />
    <row subject_id="5621" language_id="en" description="cultivation of agricultural land" />
    <row subject_id="5626" language_id="en" description="means of agricultural production" />
    <row subject_id="5631" language_id="en" description="agricultural activity" />
    <row subject_id="5636" language_id="en" description="forestry" />
    <row subject_id="5641" language_id="en" description="fisheries" />
    <row subject_id="60" language_id="en" description="agri-foodstuffs" />
    <row subject_id="6006" language_id="en" description="plant product" />
    <row subject_id="6011" language_id="en" description="animal product" />
    <row subject_id="6016" language_id="en" description="processed agricultural produce" />
    <row subject_id="6021" language_id="en" description="beverages and sugar" />
    <row subject_id="6026" language_id="en" description="foodstuff" />
    <row subject_id="6031" language_id="en" description="agri-foodstuffs" />
    <row subject_id="6036" language_id="en" description="food technology" />
    <row subject_id="64" language_id="en" description="production, technology and research" />
    <row subject_id="6406" language_id="en" description="production" />
    <row subject_id="6411" language_id="en" description="technology and technical regulations" />
    <row subject_id="6416" language_id="en" description="research and intellectual property" />
    <row subject_id="66" language_id="en" description="energy" />
    <row subject_id="6606" language_id="en" description="energy policy" />
    <row subject_id="6611" language_id="en" description="coal and mining industries" />
    <row subject_id="6616" language_id="en" description="oil industry" />
    <row subject_id="6621" language_id="en" description="electrical and nuclear industries" />
    <row subject_id="6626" language_id="en" description="soft energy" />
    <row subject_id="68" language_id="en" description="industry" />
    <row subject_id="6806" language_id="en" description="industrial structures and policy" />
    <row subject_id="6811" language_id="en" description="chemistry" />
    <row subject_id="6816" language_id="en" description="iron, steel and other metal industries" />
    <row subject_id="6821" language_id="en" description="mechanical engineering" />
    <row subject_id="6826" language_id="en" description="electronics and electrical engineering" />
    <row subject_id="6831" language_id="en" description="building and public works" />
    <row subject_id="6836" language_id="en" description="wood industry" />
    <row subject_id="6841" language_id="en" description="leather and textile industries" />
    <row subject_id="6846" language_id="en" description="miscellaneous industries" />
    <row subject_id="72" language_id="en" description="geography" />
    <row subject_id="7206" language_id="en" description="europe and the former soviet union" />
    <row subject_id="7211" language_id="en" description="regions of eu member states" />
    <row subject_id="7216" language_id="en" description="america" />
    <row subject_id="7221" language_id="en" description="africa" />
    <row subject_id="7226" language_id="en" description="asia and oceania" />
    <row subject_id="7231" language_id="en" description="economic geography" />
    <row subject_id="7236" language_id="en" description="political geography" />
    <row subject_id="7241" language_id="en" description="overseas countries and territories" />
    <row subject_id="76" language_id="en" description="international organisations" />
    <row subject_id="7606" language_id="en" description="united nations" />
    <row subject_id="7611" language_id="en" description="european organisations" />
    <row subject_id="7616" language_id="en" description="extra-european organisations" />
    <row subject_id="7621" language_id="en" description="intergovernmental organisations" />
    <row subject_id="7626" language_id="en" description="non-governmental organisations" />
  </eurovoc>
  <html5template>
    <![CDATA[<!DOCTYPE html>
<html{1}>
<head>
    <meta charset="utf-8">
</head>
<body>{0}</body>
</html>]]>
  </html5template>
</showcase>