@{ ViewBag.BodyId = "contact"; }

<article>
    <div>
        <h1>Contact Us</h1>

        <div itemscope itemtype="http://schema.org/Person">
            <strong>Prof. Dr. <span itemprop="name">Felix Sasaki</span></strong><br />
            <span itemprop="jobTitle">Senior Researcher</span><br />
            <div itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            Language Technology Lab<br />
            Manager W3C German/Austrian Office<br />
            <span itemprop="name">DFKI GmbH</span><br />
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Alt-Moabit 91c</span>, <span itemprop="postalCode">10559</span><br />
            <span itemprop="addressLocality">Berlin</span><br />
            <span itemprop="addressCountry">Germany</span><br />
            </div>
            Office phone: <span itemprop="telephone">+49 30 23895 1807</span><br />
            Office fax: <span itemprop="faxNumber">+49 30 23895 1810</span><br />
            E-mail: <span itemprop="email">felix.sasaki[at]dfki.de</span><br />
            <a href="http://www.dfki.de" itemprop="url">http://www.dfki.de</a>
            </div>
        </div>

        <br />

        <div itemscope itemtype="http://schema.org/Person">
            <strong>Dr. <span itemprop="name">Tatiana Gornostay</span></strong><br />
            <span itemprop="jobTitle">Terminology Service Manager</span><br />
            <div itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">Tilde</span><br />
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Vienibas gatve 75</span><br />
            <span itemprop="addressLocality">Riga</span>, <span itemprop="postalCode">LV-1004</span><br />
            <span itemprop="addressCountry">Latvia</span><br />
            Office phone: <span itemprop="telephone">+371 67605001</span><br />
            Office fax: <span itemprop="faxNumber">+371 67605750</span><br />
            Mobile phone: <span itemprop="telephone">+371 29936639</span><br />
            E-mail: <span itemprop="email">tatiana.gornostay[at]tilde.lv</span><br />
            <a href="http://www.tilde.com" itemprop="url">http://www.tilde.com</a>
            </div>
            </div>
        </div>
    </div>
</article>