@model Tilde.Taws.Models.ApiDocument
@{ 
    Layout = "~/Views/Showcase/Form.cshtml"; 
    ViewBag.BodyId = "html5";
    ViewBag.AccordionActive = 1;
}

@section examples_html5_url {
    HTML5 examples:
    <dl>
        <dt>Dive into HTML5</dt>
        <dd><a href="#" data-lang="en" data-domain="TaaS-1501">http://diveintohtml5.info/</a></dd>
        <dt>HTML 5 Demos and Examples</dt>
        <dd><a href="#" data-lang="en" data-domain="TaaS-1501">http://html5demos.com/</a></dd>
        <dt>W3C Schools HTML5 Introduction</dt>
        <dd><a href="#" data-lang="en" data-domain="TaaS-1501">http://www.w3schools.com/html/html5_intro.asp</a></dd>
    </dl>

    Other examples:
    <dl>
        <dt>Internationalization Tag Set (ITS) Version 2.0 (Editor's Copy)</dt>
        <dd><a href="#" data-lang="en" data-domain="TaaS-1501">http://www.w3.org/International/multilingualweb/lt/drafts/its20/its20.html</a></dd>
        <dt>About the Multilingual Web Project</dt>
        <dd><a href="#" data-lang="en" data-domain="TaaS-1501">http://www.multilingualweb.eu/en/about-the-project</a></dd>
        <dt>World Wide Web Consortium :: Wikipedia</dt>
        <dd><a href="#" data-lang="en" data-domain="TaaS-1501">http://en.wikipedia.org/wiki/W3C</a></dd>
        <dt>Tilde</dt>
        <dd><a href="#" data-lang="en" data-domain="">http://www.tilde.com</a></dd>
    </dl>
}