@model Tilde.Taws.Models.ApiDocument
@{ 
    Layout = "~/Views/Showcase/Form.cshtml"; 
    ViewBag.BodyId = "xliff";
    ViewBag.AccordionActive = 2;
}

@section examples_xliff_file {
    XLIFF examples:

     <dl>
        <dt><a href="#" data-lang="en" data-domain="eurovoc-68" data-id="xliff-1">Mechanical engineering</a></dt>
        <dd>Mechanical engineering is a discipline of engineering that applies the principles of physics and materials science for analysis, design, manufacturing, and maintenance of mechanical systems. ...</dd>
        <dt><a href="#" data-lang="en" data-domain="eurovoc-32" data-id="xliff-2">Text annotation</a></dt>
        <dd>Text annotation is the practice and the result of adding a note to a text, which may include highlights or underlining, comments, footnotes, tags, and links. Text annotations can include notes written for a reader's private purposes, as well as shared annotations written for the purposes of collaborative writing and editing, commentary, or social reading and sharing. ...</dd>
        <dt><a href="#" data-lang="en" data-domain="eurovoc-56" data-id="xliff-3">Agriculture</a></dt>
        <dd>Agriculture, also called farming or husbandry, is the cultivation of animals, plants, fungi, and other life forms for food, fiber, biofuel and other products used to sustain human life. ...</dd>
    </dl>

    <script id="xliff-1" type="text/xml"><?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:its="http://www.w3.org/2005/11/its" its:version="2.0">
 <file original="Text_example_EN_1.txt" source-language="en-us" target-language="lv-lv" datatype="x-text/plain">
  <body>
   <trans-unit id="1">
    <source xml:lang="en-us">
      Mechanical engineering is a discipline of engineering that applies the principles of physics and materials science for analysis, design, manufacturing, and maintenance of mechanical systems. 
      It is the branch of engineering that involves the production and usage of heat and mechanical power for the design, production, and operation of machines and tools. 
      It is one of the oldest and broadest engineering disciplines. 
      The engineering field requires an understanding of core concepts including mechanics, kinematics, thermodynamics, materials science, structural analysis, and electricity. 
      Mechanical engineers use these core principles along with tools like computer-aided engineering and product lifecycle management to design and analyze manufacturing plants, industrial equipment and machinery, heating and cooling systems, transport systems, aircraft, watercraft, robotics, medical devices, and others. 
      Mechanical engineering emerged as a field during the industrial revolution in Europe in the 18th century; however, its development can be traced back several thousand years around the world. 
      Mechanical engineering science emerged in the 19th century as a result of developments in the field of physics. 
      The field has continually evolved to incorporate advancements in technology, and mechanical engineers today are pursuing developments in such fields as composites, mechatronics, and nanotechnology. 
      Mechanical engineering overlaps with aerospace engineering, building services engineering, metallurgical engineering, marine engineering, civil engineering, electrical engineering, petroleum engineering, manufacturing engineering, and chemical engineering to varying amounts. 
      Mechanical engineers also work in the field of Biomedical engineering, specifically with biomechanics, transport phenomena, biomechatronics, bionanotechnology and modeling of biological systems, like soft tissue mechanics.
    </source>
    <seg-source>
      <mrk mid="0" mtype="seg">Mechanical engineering is a discipline of engineering that applies the principles of physics and materials science for analysis, design, manufacturing, and maintenance of mechanical systems. </mrk>
      <mrk mid="1" mtype="seg">It is the branch of engineering that involves the production and usage of heat and mechanical power for the design, production, and operation of machines and tools. </mrk>
      <mrk mid="2" mtype="seg">It is one of the oldest and broadest engineering disciplines. </mrk>
      <mrk mid="3" mtype="seg">The engineering field requires an understanding of core concepts including mechanics, kinematics, thermodynamics, materials science, structural analysis, and electricity. </mrk>
      <mrk mid="4" mtype="seg">Mechanical engineers use these core principles along with tools like computer-aided engineering and product lifecycle management to design and analyze manufacturing plants, industrial equipment and machinery, heating and cooling systems, transport systems, aircraft, watercraft, robotics, medical devices, and others. </mrk>
      <mrk mid="5" mtype="seg">Mechanical engineering emerged as a field during the industrial revolution in Europe in the 18th century; however, its development can be traced back several thousand years around the world. </mrk>
      <mrk mid="6" mtype="seg">Mechanical engineering science emerged in the 19th century as a result of developments in the field of physics. </mrk>
      <mrk mid="7" mtype="seg">The field has continually evolved to incorporate advancements in technology, and mechanical engineers today are pursuing developments in such fields as composites, mechatronics, and nanotechnology. </mrk>
      <mrk mid="8" mtype="seg">Mechanical engineering overlaps with aerospace engineering, building services engineering, metallurgical engineering, marine engineering, civil engineering, electrical engineering, petroleum engineering, manufacturing engineering, and chemical engineering to varying amounts. </mrk>
      <mrk mid="9" mtype="seg">Mechanical engineers also work in the field of Biomedical engineering, specifically with biomechanics, transport phenomena, biomechatronics, bionanotechnology and modeling of biological systems, like soft tissue mechanics.</mrk>
    </seg-source>
    <target xml:lang="lv-lv"></target>
   </trans-unit>
  </body>
 </file>
</xliff></script>

    <script id="xliff-2" type="text/xml"><?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:its="http://www.w3.org/2005/11/its" its:version="2.0">
 <file original="Text_example_EN_2.txt" source-language="en-us" target-language="lv-lv" datatype="x-text/plain">
  <body>
   <trans-unit id="1">
    <source xml:lang="en-us">
      Text annotation is the practice and the result of adding a note to a text, which may include highlights or underlining, comments, footnotes, tags, and links. 
      Text annotations can include notes written for a reader's private purposes, as well as shared annotations written for the purposes of collaborative writing and editing, commentary, or social reading and sharing. 
      In some fields, text annotation is comparable to metadata insofar as it is added post hoc and provides information about a text without fundamentally altering that original text. 
      Text annotations are sometimes referred to as marginalia, though some reserve this term specifically for hand-written notes made in the margins of books or manuscripts. 
      This article covers both private and socially shared text annotations, including hand-written and information technology-based annotation, as well as Web-based text annotation. 
      For information on general annotation of Web objects, see Web annotation.</source>
    <seg-source>
      <mrk mid="0" mtype="seg">Text annotation is the practice and the result of adding a note to a text, which may include highlights or underlining, comments, footnotes, tags, and links. </mrk>
      <mrk mid="1" mtype="seg">Text annotations can include notes written for a reader's private purposes, as well as shared annotations written for the purposes of collaborative writing and editing, commentary, or social reading and sharing. </mrk>
      <mrk mid="2" mtype="seg">In some fields, text annotation is comparable to metadata insofar as it is added post hoc and provides information about a text without fundamentally altering that original text. </mrk>
      <mrk mid="3" mtype="seg">Text annotations are sometimes referred to as marginalia, though some reserve this term specifically for hand-written notes made in the margins of books or manuscripts. </mrk>
      <mrk mid="4" mtype="seg">This article covers both private and socially shared text annotations, including hand-written and information technology-based annotation, as well as Web-based text annotation. </mrk>
      <mrk mid="5" mtype="seg">For information on general annotation of Web objects, see Web annotation.</mrk></seg-source>
    <target xml:lang="lv-lv"></target>
   </trans-unit>
  </body>
 </file>
</xliff></script>

    <script id="xliff-3" type="text/xml"><?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:its="http://www.w3.org/2005/11/its" its:version="2.0">
 <file original="Text_example_EN_3.txt" source-language="en-us" target-language="lv-lv" datatype="x-text/plain">
  <body>
   <trans-unit id="1">
    <source xml:lang="en-us">Agriculture, also called farming or husbandry, is the cultivation of animals, plants, fungi, and other life forms for food, fiber, biofuel and other products used to sustain human life. Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created foodsurpluses that nurtured the development of civilization. The study of agriculture is known as agricultural science. Agriculture generally speaking refers to human activities, although it is also observed in certain species of ant and termite. The word agriculture is the English adaptation of Latin agricultūra, from ager, "a field", and cultūra, "cultivation" in the strict sense of "tillage of the soil". Thus, a literal reading of the word yields "tillage of fields".</source>
    <seg-source>
     <mrk mid="0" mtype="seg">Agriculture, also called farming or husbandry, is the cultivation of animals, plants, fungi, and other life forms for food, fiber, biofuel and other products used to sustain human life. </mrk>
     <mrk mid="1" mtype="seg">Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created foodsurpluses that nurtured the development of civilization. </mrk>
     <mrk mid="2" mtype="seg">The study of agriculture is known as agricultural science. </mrk>
     <mrk mid="3" mtype="seg">Agriculture generally speaking refers to human activities, although it is also observed in certain species of ant and termite. </mrk>
     <mrk mid="4" mtype="seg">The word agriculture is the English adaptation of Latin agricultūra, from ager, "a field", and cultūra, "cultivation" in the strict sense of "tillage of the soil". </mrk>
     <mrk mid="5" mtype="seg">Thus, a literal reading of the word yields "tillage of fields".</mrk>
    </seg-source>
    <target xml:lang="lv-lv"></target>
   </trans-unit>
   <trans-unit id="2">
    <source xml:lang="en-us">The history of agriculture dates back thousands of years, and its development has been driven and defined by greatly different climates, cultures, and technologies. However, all farming generally relies on techniques to expand and maintain the lands that are suitable for raising domesticated species. For plants, this usually requires some form of irrigation, although there are methods of dryland farming; pastoral herding on rangeland is still the most common means of raising livestock. In the developed world, industrial agriculture based on large-scale monoculture has become the dominant system of modern farming, although there is growing support for sustainable agriculture (e.g. permaculture or organic agriculture).</source>
    <seg-source><mrk mid="0" mtype="seg">The history of agriculture dates back thousands of years, and its development has been driven and defined by greatly different climates, cultures, and technologies. </mrk>
     <mrk mid="1" mtype="seg">However, all farming generally relies on techniques to expand and maintain the lands that are suitable for raising domesticated species. </mrk>
     <mrk mid="2" mtype="seg">For plants, this usually requires some form of irrigation, although there are methods of dryland farming; pastoral herding on rangeland is still the most common means of raising livestock. </mrk>
     <mrk mid="3" mtype="seg">In the developed world, industrial agriculture based on large-scale monoculture has become the dominant system of modern farming, although there is growing support for sustainable agriculture (e.g. permaculture or organic agriculture).</mrk>
    </seg-source>
    <target xml:lang="lv-lv"></target>
   </trans-unit>
    <trans-unit id="3">
    <source xml:lang="en-us">Until the Industrial Revolution, the vast majority of the human population labored in agriculture. Pre-industrial agriculture was typically subsistence agriculture in which farmers raised most of their crops for their own consumption instead of for trade. A remarkable shift in agricultural practices has occurred over the past century in response to new technologies, and the development of world markets. This also led to technological improvements in agricultural techniques, such as the Haber-Bosch method for synthesizing ammonium nitrate which made the traditional practice of recycling nutrients with crop rotation and animal manure less necessary.</source>
    <seg-source>
     <mrk mid="0" mtype="seg">Until the Industrial Revolution, the vast majority of the human population labored in agriculture. </mrk>
     <mrk mid="1" mtype="seg">Pre-industrial agriculture was typically subsistence agriculture in which farmers raised most of their crops for their own consumption instead of for trade. </mrk>
     <mrk mid="2" mtype="seg">A remarkable shift in agricultural practices has occurred over the past century in response to new technologies, and the development of world markets. </mrk>
     <mrk mid="3" mtype="seg">This also led to technological improvements in agricultural techniques, such as the Haber-Bosch method for synthesizing ammonium nitrate which made the traditional practice of recycling nutrients with crop rotation and animal manure less necessary.</mrk>
    </seg-source>
    <target xml:lang="lv-lv"></target>
   </trans-unit>
   <trans-unit id="4">
    <source xml:lang="en-us">Modern agronomy, plant breeding, and agrochemicals such as pesticides and fertilizers, and technological improvements have sharply increased yields from cultivation, but at the same time have caused widespread ecological damage and negative human health effects. Selective breeding and modern practices in animal husbandry such as intensive pig farming have similarly increased the output of meat, but have raised concerns about animal cruelty and the health effects of the antibiotics, growth hormones, and other chemicals commonly used in industrial meat production.</source>
    <seg-source><mrk mid="0" mtype="seg">Modern agronomy, plant breeding, and agrochemicals such as pesticides and fertilizers, and technological improvements have sharply increased yields from cultivation, but at the same time have caused widespread ecological damage and negative human health effects. </mrk><mrk mid="1" mtype="seg">Selective breeding and modern practices in animal husbandry such as intensive pig farming have similarly increased the output of meat, but have raised concerns about animal cruelty and the health effects of the antibiotics, growth hormones, and other chemicals commonly used in industrial meat production.</mrk></seg-source>
    <target xml:lang="lv-lv"></target>
   </trans-unit>
   <trans-unit id="5">
    <source xml:lang="en-us">The major agricultural products can be broadly grouped into foods, fibers, fuels, and raw materials. In the 21st century, plants have been used to grow biofuels,pharmaceuticals (including biopharmaceuticals), bioplastics. Specific foods include cereals, vegetables, fruits, and meat. Fibers include cotton, wool, hemp,silk and flax. Raw materials include lumber and bamboo. Other useful materials are produced by plants, such as resins. Biofuels include methane from biomass,ethanol, and biodiesel. Cut flowers, nursery plants, tropical fish and birds for the pet trade are some of the ornamental products. Regarding food production, the World Bank targets agricultural food production and water management as an increasingly global issue that is fostering an important and growing debate.</source>
    <seg-source>
     <mrk mid="0" mtype="seg">The major agricultural products can be broadly grouped into foods, fibers, fuels, and raw materials. </mrk>
     <mrk mid="1" mtype="seg">In the 21st century, plants have been used to grow biofuels,pharmaceuticals (including biopharmaceuticals), bioplastics. </mrk>
     <mrk mid="2" mtype="seg">Specific foods include cereals, vegetables, fruits, and meat. </mrk>
     <mrk mid="3" mtype="seg">Fibers include cotton, wool, hemp,silk and flax. </mrk>
     <mrk mid="4" mtype="seg">Raw materials include lumber and bamboo. </mrk>
     <mrk mid="5" mtype="seg">Other useful materials are produced by plants, such as resins. </mrk>
     <mrk mid="6" mtype="seg">Biofuels include methane from biomass,ethanol, and biodiesel. </mrk>
     <mrk mid="7" mtype="seg">Cut flowers, nursery plants, tropical fish and birds for the pet trade are some of the ornamental products. </mrk>
     <mrk mid="8" mtype="seg">Regarding food production, the World Bank targets agricultural food production and water management as an increasingly global issue that is fostering an important and growing debate.</mrk>
    </seg-source>
    <target xml:lang="lv-lv"></target>
   </trans-unit>
   <trans-unit id="6">
    <source xml:lang="en-us">In 2007, one third of the world's workers were employed in agriculture. The services sector has overtaken agriculture as the economic sector employing the most people worldwide. Despite the size of its workforce, agricultural production accounts for less than five percent of the gross world product (an aggregate of allgross domestic products).</source>
    <seg-source>
     <mrk mid="0" mtype="seg">In 2007, one third of the world's workers were employed in agriculture. </mrk>
     <mrk mid="1" mtype="seg">The services sector has overtaken agriculture as the economic sector employing the most people worldwide. </mrk>
     <mrk mid="2" mtype="seg">Despite the size of its workforce, agricultural production accounts for less than five percent of the gross world product (an aggregate of allgross domestic products).</mrk>
     </seg-source>
    <target xml:lang="lv-lv"></target>
   </trans-unit>
  </body>
 </file>
</xliff></script>

}